
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2em;
    text-align: center;
}

nav {
    background-color: #444;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: smaller;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    header {
        padding: 0.5em; /* Adjust padding for smaller screens */
    }

    nav {
        flex-direction: row; /* Stack nav items vertically on smaller screens */
        align-items: center;
    }

    nav a {
        margin: 0.5em 0; /* Add spacing between nav items on smaller screens */
    }

    section {
        padding: 1em; /* Adjust padding for smaller screens */
    }

    footer {
        padding: 0.25em; /* Adjust padding for smaller screens */
    }
}