:root {
    --background-light: #ffffff;
    --background-dark: #2e2e2e;
    --text-light: #333333;
    --text-dark: #dddddd;
}

#dark-mode-toggle {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.tgl-container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }

.tgl {
  display:none;

  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;
    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }Dark

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}


.tgl-flip {
  + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    perspective: 100px;
    &:after,
    &:before {
      display: inline-block;
      transition: all .4s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #201b1b;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      border-radius: 4px;
    }

    &:after {
      content: attr(data-tg-on);
      background: #b1b1b1;
      transform: rotateY(-180deg);
    }

    &:before {
      background: #ffffff;
      content: attr(data-tg-off);
    }

    &:active:before {
      transform: rotateY(-20deg);
    }
  }

  &:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }

    &:after {
      transform: rotateY(0);
      left: 0;
      background: #393939;
    }

    &:active:after {
      transform: rotateY(20deg);
    }
  }
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: var(--background-light);
    color: var(--text-light);
}

.dark-mode {
    background-color: var(--background-dark) !important;
    color: var(--text-dark) !important;
}

.align-text-header {
    display: flex;
}

.header-left, .header-right {
    flex: 1;
}

.header-center {
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2em;
    text-align: center;
}

nav {
    background-color: #444;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: smaller;
    padding: 0.5em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 1em;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    grid-gap: 35px;
}

.project {
    border: 2px solid #4f4f4f;
    padding: 20px;
    text-align: center;
    margin-bottom: auto;
}

.project img {
    max-width: 100%;
    height: auto;
}

.project iframe {
    width:560px;
    height:315px;
    margin: 0;
}

.project h3 {
    margin-top: 10px; /* Adjust the margin to keep the title within the border */
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 35px;
    margin-bottom: 6em;
}

.blog {
    border: 2px solid #4f4f4f;
    padding: 20px;
    text-align: center;
}

.blog img {
    max-width: 100%;
    height: auto;
}

.blog iframe {
    width: 100%;
    height: 50%;
    margin: 0;
}

.blog h3 {
    margin-top: 10px;
}

.tags {
    list-style: none;
    padding: 1em;
    margin: 0;
}

.tags li {
    display: inline-block;
    margin-right: 10px;
}

.tags a {
    text-decoration: none;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
}

.tags a.active {
    background-color: #333;
    color: #fff;
}

@media (max-width: 600px) {
    body {
        min-height: 100vh; /* Set a minimum height of the viewport */
        margin: 0;
    }

    header {
        padding: 0.5em; /* Adjust padding for smaller screens */
    }

    nav {
        flex-direction: row; /* Stack nav items vertically on smaller screens */
        align-items: center;
    }

    nav a {
        margin: 0.5em 0; /* Add spacing between nav items on smaller screens */
    }

    section {
        padding: 1em; /* Adjust padding for smaller screens */
    }

    .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .tags a {
        margin-right: .5em;
        margin-bottom: .5em;
    }

    .blog-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        margin-bottom: 6em;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 10px;
    }

    .project iframe {
        width:280px;
        height:157.5px;
        margin: 0;
    }

    hr.solid {
        border-top: 3px solid #bbb;
    }

    footer {
        padding: 0.25em; /* Adjust padding for smaller screens */
    }

    footer p {
        margin: 0.45em;
    }
}